<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&family=Roboto:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="style.css">

    <title>Restaurante</title>
</head>
<body>
    <div class="app">
        <header>
            <a href="index.html">
                <img src="/layout/assets/logo.png" alt="logoHome">
            </a>
            <div class="links">
                <a class="link" href="sobre.html">Sobre</a>
                <a class="link" href="receita.html">Receita</a>
            </div>
        </header>
        <section class="banner">
            <div class="banner-text">
                <h3>As melhores receitas</h3>
                <p>Aprenda a construir os melhores pratos
                    com receitas criadas por profissionais 
                    do mundo inteiro
                </p>
            </div>
            <div class="banner-img">
                <img src="/layout/assets/chef.png" alt="">
            </div>
        </section>
    </div>   
</body>
</html>