<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&family=Roboto:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="style.css">

    <title>Restaurante</title>
</head>
<body>
    <div class="app">
        <header class="menu">
            <a href="index.html">
                <img src="/layout/assets/logo.png" alt="logoHome">
            </a>
            <nav>
                <div class="links">
                    <a class="link" href="/">Sobre</a>
                    <a class="link" href="/">Receita</a>
                </div>
            </nav>
        </header>
    </div>
</body>
</html>