:root{
    --color-white: rgb(172, 171, 175);
}

*{
    margin: 0px;
    border: 0px;
    padding: 0px;
}

body{
    font-family: 'Poppins', sans-serif;
    background: rgb(25,25,25);
}

header{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
}

.link{
    color: var(--color-white);
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    line-height: 28px;
    margin: 5px;
}